[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
socket = /cloudsql/fooder-6493b:us-central1:fooder
sql_mode = ''
skip-grant-tables

[client]
default-character-set = utf8mb4
socket = /cloudsql/fooder-6493b:us-central1:fooder
