@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@splidejs/react-splide/css';
@import 'swiper/css';

@layer base {
  body {
    font-family: 'Noto Sans JP', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    @apply text-body;
  }

  @screen lg {
    body {
      @apply text-body-lg;
    }
  }
  @screen md {
    body {
      @apply text-body-md;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      opacity: 0.3;
    }
  }
}
